In [1]:
# import dependencies

import pandas as pd
import numpy as np
import os

In [2]:
# read csv file

csvpath = os.path.join("Resources","budget_data.csv")
raw_data = pd.read_csv(csvpath)
raw_data.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [3]:
# calculate the total number of months included in the dataset

total_months = len(raw_data.Date.unique())

In [4]:
# calculate the net total amount of "Profit/Losses" over the entire period

net_total = str(raw_data['Profit/Losses'].sum())

In [5]:
# calculate the average of the changes in "Profit/Losses" over the entire period

data = raw_data
data = data.set_index('Date')
data['change'] = data.diff()

avg_change = str(round(data['change'].sum()/(total_months-1), 2))

In [6]:
# calculate change in profits/losses across each row

change_df = data.drop(columns = ['Profit/Losses'])
change_df = change_df.reset_index()

In [7]:
# calculate the greatest increase in profits (date and amount) over the entire period

max_change = change_df['change'].max()

max_change_mo = str(change_df.loc[change_df['change'] == max_change, 'Date'].iloc[0])
max_change_num = str(int(change_df.loc[change_df['change'] == max_change, 'change'].iloc[0]))

In [8]:
# calculate the greatest decrease in losses (date and amount) over the entire period

min_change = change_df['change'].min()

min_change_mo = str(change_df.loc[change_df['change'] == min_change, 'Date'].iloc[0])
min_change_num = str(int(change_df.loc[change_df['change'] == min_change, 'change'].iloc[0]))

In [9]:
# print analysis in terminal

print('Financial Analysis')
print('----------------------------')
print('Total Months:', total_months)
print('Total: $' + net_total)
print('Average Change: $' + avg_change)
print('Greatest Increase in Profits: ' + max_change_mo + ' ($' + max_change_num + ')')
print('Greatest Decrease in Profits: ' + min_change_mo + ' ($' + min_change_num + ')')

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [10]:
# export analysis in text file

file = open('analysis.txt', 'w')

file.write('Financial Analysis\n')
file.write('----------------------------\n')
file.write('Total Months: 86\n')
file.write('Total: $38382578\n')
file.write('Average Change: $-2315.12\n')
file.write('Greatest Increase in Profits: Feb-2012 ($1926159)\n')
file.write('Greatest Decrease in Profits: Sep-2013 ($-2196167)\n')

file.close()